.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows:  75px;
  position: relative;

}
.topstory {
  grid-column: 2/5;
  grid-row: 1/10;
 
}
.topstorytitle {
  grid-column: 3/4;
  grid-row: 1/2;
}

.topstory2title {
  grid-column: 6/7;
  grid-row: 5/6;
  position: absolute;

}

.topstory2 { 
  grid-column: 6/7;
  grid-row: 3/7;
}


.topstory3 { 
  grid-column: 8/9;
  grid-row: 3/8;
}
.topstory3title {
  grid-column: 8/9;
  grid-row: 6/7;
  position: absolute;

}

.topstory4 {
  grid-column: 6/7;
  grid-row: 8/12;
}
.topstory4title {
  grid-column: 6/7;
  grid-row: 10/11;
  position: absolute;

}

.topstory5 {
  grid-column: 8/9;
  grid-row: 9/13;

}
.topstory5title {
  grid-column: 8/9;
  grid-row: 11/12;
  position: absolute;

}

.bottomtop {
  grid-column: 2/2;
  grid-row: 10/12;
}

.bottomtoptext {
  grid-column: 2/3;
  grid-row: 12/13;
}

.bottomtop2 {
  grid-column: 3/3;
  grid-row: 10/12;
}

.bottomtoptext2 {
  grid-column: 3/3;
  grid-row: 12/13;
}


.bottomtop3 {
  grid-column: 4/4;
  grid-row: 10/12;
}

.bottomtoptext3 {
  grid-column: 4/4;
  grid-row: 12/13;
}


.recommendedtext {
  grid-column: 6/7;
  grid-row: 14/15;
}

.recommendedread {
  grid-column: 1/-1;
  grid-row: 15/20;
}
